<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Customers List</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
	<h1>Customers List</h1>
	<a href="addCustomer">Add Customer</a>
	<br /><br />
	<div>
		<table border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Siret</th>
					<th>Address</th>
					<th>Postal Code</th>
					<th>City</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${customers}">
					<td th:utext="${customer.name}">...</td>
					<td th:utext="${customer.siret}">...</td>
					<td th:utext="${customer.address}">...</td>
					<td th:utext="${customer.postalCode}">...</td>
					<td th:utext="${customer.city}">...</td>
					<td> <a th:href="@{/updateCustomer/{id}(id=${customer.id})}">Update</a>
                        <a th:href="@{/deleteCustomer/{id}(id=${customer.id})}">Delete</a>
				</tr>
			</tbody>

		</table>
	</div>
</body>

</html>